h1 {
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 50px;
color: red;
text-align: center;
}

nav {
    border: 5px solid red;
    padding: 2px;

}
.links a {
    background-color: rgb(179,57,81);
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    display: inline-block;
  }
  
  .links a:hover {
    background-color: rgb(66, 28, 40);
    color: #fff;
  }