h1 {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: red;
    text-align: center;
    }
h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    font-style: italic;
}
ul, ol {
    font-family: 'Times New Roman', Times, serif;
}
img {
    width: 300px;
    height: auto;
}
nav {
    border: 5px solid red;
    padding: 2px;

}
.links a {
    background-color: rgb(179,57,81);
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    display: inline-block;
  }
  
  .links a:hover {
    background-color: rgb(66, 28, 40);
    color: #fff;
  }